{% extends 'food/base.html' %}
{% load widget_tweaks %}

{% block body %}
<main class="form-signin mx-auto mt-5" style="max-width: 400px;">
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-center" style="color: orange;"><b>Log in</b></h1>
    {% for field in form %}
      <div class="mb-3 form-group">
        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
        {% if field.errors %}
          <div class="invalid-feedback d-block">
            {% for error in field.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <div class="text-start my-3">
      <h6>Don’t you have an account?
        <a href="{% url 'register' %}" class="text-decoration-none" style="color: orange;">Sign up</a>
      </h6>
    </div>
    <button class="w-100 btn btn-lg btn-warning" type="submit">Log in</button>
  </form>
</main>
{% endblock %}
